html,
body,
#root {
  height: 100%;
  width: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 16px;
}

.upload {
  padding: 8px;
  margin: 8px;
  border-bottom: 1px solid white;
  width: 50%;
  min-width: 275px;
}

.player-pack {
  display: flex;
  gap: 8px;
  padding-top: 8px;
  justify-content: center;
  align-items: center;
}

.example-toggle {
  opacity: 0.7;
  padding: 16px;
  font-size: 18px;
  cursor: pointer;
}

.example-text {
  font-size: 18px;
  text-align: left;
}

.attribution {
  font-size: 12px;
  opacity: 0.6;
  margin-top: auto;
  padding: 24px 0 16px 0;
}
