.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 16px;
}

.upload {
  padding: 8px;
  margin: 8px;
  border-bottom: 1px solid white;
}

.player-pack {
  display: flex;
  gap: 8px;
  padding-top: 8px;
  justify-content: center;
  align-items: center;
}
